body{
  background-color: #a3d2ca;
  margin: 0;
  text-align: center;
}

.intro-1{
  background-color: #c6ebc9;
}

.intro-2{
  background-color: #c6ebc9;
  padding-bottom: 30px;
}

.role{
  margin: 0;
}

.intro-3{
  background-color: #c6ebc9 ;
  height:250px;

}

.hr-1{
  border-style: dotted;
  border-top-style: none;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 0;
  }

.tabs{
  background-color: #EAF6F6;
  display: inline-block;
  font-family: sans-serif;
  width: 300px;
}

.tabs:hover{
    color: #EAF6F6;
}

a{
  text-decoration: none;
  color: #056674;
}

img{
}

hr{
  border-style: dotted;
  border-top-style: none;
  border-color:  #056674;
  border-width: 5px;
  width: 5%;
  margin-top: 30px;
  margin-bottom: 0;
}

.skills{
  color: maroon;
  width: 300px;
  position: relative;
  left: 940px;
  font-weight: bold;
}

.heading-1{
  color: #056674;
  margin: 50px auto 50px auto;
  display: inline-block;
}

.educ{
  width: 550px;
  position: relative;
  bottom: 190px;
  margin-left: 50px;
}

.education{
  text-align: left;
  color: maroon;
  margin-bottom: 20px;
}

.education-1{
  margin: 0;
}

.lic{
  width: 500px;
  position: relative;
  bottom: 430px;
  left: 620px;
}

.licenses{
  text-align: left;
  color: maroon;
  margin-bottom: 20px;
}

.licenses-1{
  margin: 0;
}

.profile{
  background-color: #cae4db;
  margin: auto;
  padding-top: 0;
  padding-bottom: 20px;
}

.hr1{
  margin-top: 0;
  width: 0;
  height: 0;

  clear: both;
  border: 1px solid transparent;
  height: 0px;


}

.work-img{
  float: left;
  margin-top: 15px;;
}

.arabtec{
  background-color: #cdac81;
  border-radius: 25px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:15px;
}

.ecolog{
  background-color: #cdac81;
  border-radius: 25px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:15px;
}

.iccc{
  background-color: #cdac81;
  border-radius: 25px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:150px;
}

.hlg{
  background-color: #cdac81;
  border-radius: 25px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:15px;
}

.ucpb{
  background-color: #cdac81;
  border-radius: 25px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:100px;
}

.camella{
  background-color: #cdac81;
  border-radius: 25px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:100px;
}

.qsts{
  background-color: #cdac81;
  border-radius: 25px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:200px;
}

.exp{
  float: left;
  margin-top:15px;
  margin-left: 40px;
}


.b{
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 18px;
}

.contact-me{
    background-color: #ADCE74;
    color: #00303F;
    margin-top: 20px;
}

.dir-contact{
  display: inline-block;
  margin-top: 0;
  width: 200px;
}

.contact{
  line-height: 1.2;
  margin: 0 auto 0 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.button{
  margin: 10px auto 10px auto;
}

.f-forgione{
  color: #FF414D;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.personnal{
  background-color: black;
  text-align: left;
}

.coach-skate-prog{
  color: yellow;
}

.projects{
  text-align: left;
}

.resp{
  text-align: left;
  margin-left: 600px;
}
