body{
  background-color: #48494B;
  margin: 0;
  text-align: center;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.intro-1{
  background-color: #48494B;
}

.intro-2{
  background-color: #48494B;
  color: #FCF4A3;
  padding-bottom: 30px;
}

.role{
  margin: 0;
}

.intro-3{
  background-color: #48494B;
  height:300px;
}

.hr-1{
  border-style: dotted;
  border-top-style: none;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 0;
  }

.tabs-1 {
  background-color: #EAF6F6;
  display: inline-block;
  font-family: sans-serif;
  width: 150px;
  position:relative;
  right: 50px;
}

.tabs-2{
  background-color: #EAF6F6;
  display: inline-block;
  font-family: sans-serif;
  width: 150px;
}

.tabs-3{
  background-color: #EAF6F6;
  display: inline-block;
  font-family: sans-serif;
  width: 150px;
  position:relative;
  left: 50px;
}

.tabs:hover{
    color: #EAF6F6;
}

a{
  text-decoration: none;
  color: #056674;
}


hr{
  border-style: dotted;
  border-top-style: none;
  border-color:  #056674;
  border-width: 5px;
  width: 5%;
  margin-top: 30px;
  margin-bottom: 0;
}

.skills{
  color: white;
  width: 300px;
  position: relative;
  left: 940px;
  font-weight: bold;
}

.heading-1{
  color: #FCF4A3;
  margin: 0 auto 50px auto;
  padding-top: 20px;
  display: block;
}

.educ{
  color: white;
  width: 550px;
  position: relative;
  bottom: 190px;
  margin-left: 50px;
}

.education{
  text-align: left;
  margin-bottom: 20px;
}

.education-1{
  margin: 0;
}

.lic{
  color: white;
  width: 280px;
  position: relative;
  bottom: 430px;
  left: 620px;
}

.licenses{
  text-align: left;
  margin-bottom: 20px;
}

.licenses-1{
  margin: 0;
}

.profile{
  background-color: #818380;
  color: white;
  margin: auto;
  padding-top: 50;
  padding-bottom: 20px;
}

.hr1{
  margin-top: 0;
  width: 0;
  height: 0;
  clear: both;
  border: 1px solid transparent;
  height: 0px;
}

.work-img{
  float: left;
  margin-top: 15px;;
}

.toa{
  background-color: #48494B;
  color: white;
  border-radius: 50px;
  margin: 0px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:150px;
}


.arabtec{
  background-color: #48494B;
  color: white;
  border-radius: 50px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:15px;
}

.ecolog{
  background-color: #48494B;
  color: white;
  border-radius: 50px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:15px;
}

.iccc{
  background-color: #48494B;
  color: white;
  border-radius: 50px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:150px;
}

.hlg{
  background-color: #48494B;
  color: white;
  border-radius: 50px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:15px;
}

.ucpb{
  background-color: #48494B;
  color: white;
  border-radius: 50px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:100px;
}

.camella{
  background-color: #48494B;
  color: white;
  border-radius: 50px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:100px;
}

.qsts{
  background-color: #48494B;
  color: white;
  border-radius: 50px;
  margin: 50px auto 50px auto;
  width: 90%;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:200px;
}

.exp{
  float: left;
  margin-top:15px;
  margin-left: 40px;
}

.b{
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 18px;
}

.contact-me{
    background-color: #818380;
    color: #00303F;
    margin-top: 20px;
}

.linkedin{
  display: block;
  margin-top: 0;
  margin-bottom: 0;

}

.mobile{
  display: block;
  margin-top: 0;
  margin-bottom: 0;

}

.email{
  display: block;
  margin-top: 0;
  margin-bottom: 0;

}

.rights{
  line-height: 1.2;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 0;
  padding-bottom: 0;
}

/*--------------------------- DOWNLOAD BUTTON--------------------*/


.down_load{
  background-color:#FF0046;
  margin: auto;
  font-size: 16px;
  display: block;

}

                               /* Padre Pio */
.f-forgione{
  color: #FCF4A3;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
}


.resp{
  text-align: left;
  margin-left: 600px;
}


/*--------------------------- DOWNLOAD BUTTON--------------------*/

.personnal{
  color: white;
  text-align: left;
}

.coach-skate-prog{
  color: #FCF4A3;
}

.projects{
  text-align: left;
  color: white;
}


/*--------------------------- INDEPENDENT COURSEWORK--------------------*/

.trainings{
  background-color: #48494B;
  color: white;
  text-align: left;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}





/*------------------------------HOMEPAGE-----------------------------------*/

.button_homepage {
  background-color: #00EB85; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 280px;
  border-radius: 25px;
}

.hpage_name {
  color: white;
  width: 300px;
  border-radius: 25px;
  font-family: sans-serif;
  }

.click {
    color: white;
    width: 450px;
    }
